@charset "UTF-8";

.heroImage {
    text-align: center;
}
.heroImage h1 {
    margin-bottom: 0px;
    font-size: 10vw;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
    font-family: 'Encode Sans Expanded', sans-serif;
}
.heroImage p {
    margin-top: 5px;
    font-size: 3vw;
}

@media (min-width: 768px) {
    .heroImage h1 {
        font-size: 115px;
    }
    .heroImage p {
        font-size: 20px;
    }
}